.controls{
  text-align: center;
}

.controls button{
  border-radius: 5px;
}

.controls i{
  margin-right: 2px;
}

p, h2{
  text-align: center;
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
